In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('data/stops.csv')
df2=pd.read_csv("data/stops_to_neighborhoods.csv")

In [3]:
print(df1.columns)
print(df2.columns)

Index(['stop_id', 'route_id'], dtype='object')
Index(['stop_id', 'neighborhood'], dtype='object')

In [4]:
df2.isnull().sum()

stop_id           0
neighborhood    657
dtype: int64

In [5]:
df2=df2.dropna()

In [6]:
merged_data=pd.merge(df1,df2,on='stop_id')

In [7]:
merged_data

     stop_id                                         route_id   neighborhood
0          2                                           ['01']        Roxbury
1          5                              ['191' 'SL4' 'SL5']      South End
2          7                                     ['19' 'CT3']        Roxbury
3          8                                           ['10']        Roxbury
4         13           ['10' '16' '17' '171' '09' '18' 'CT3']   South Boston
..       ...                                              ...            ...
410    85568                                           ['24']   West Roxbury
411    91317                                          ['192']         Fenway
412    91391  ['39' '21' '32' '34' '35' '36' '37' '38' 'CT2']       Longwood
413    96459                                      ['30' '24']     Roslindale
414    99991                                           ['38']  Jamaica Plain

[415 rows x 3 columns]

In [8]:
merged_data1=merged_data.copy()
merged_data1['route_id'] = merged_data1['route_id'].str.replace("'", '')

In [9]:
merged_data1['route_id'] = merged_data1['route_id'].str.replace(' ', ',')
merged_data1

     stop_id                       route_id   neighborhood
0          2                           [01]        Roxbury
1          5                  [191,SL4,SL5]      South End
2          7                       [19,CT3]        Roxbury
3          8                           [10]        Roxbury
4         13       [10,16,17,171,09,18,CT3]   South Boston
..       ...                            ...            ...
410    85568                           [24]   West Roxbury
411    91317                          [192]         Fenway
412    91391  [39,21,32,34,35,36,37,38,CT2]       Longwood
413    96459                        [30,24]     Roslindale
414    99991                           [38]  Jamaica Plain

[415 rows x 3 columns]

In [10]:
merged_data1['route_id']=merged_data1['route_id'].astype(str)

In [11]:
# Assuming 'route_id' is read as strings like '[191,SL4,SL5]'
merged_data1['route_id'] = merged_data1['route_id'].apply(lambda x: x.strip('[]').split(','))
merged_data1

     stop_id                               route_id   neighborhood
0          2                                   [01]        Roxbury
1          5                        [191, SL4, SL5]      South End
2          7                              [19, CT3]        Roxbury
3          8                                   [10]        Roxbury
4         13         [10, 16, 17, 171, 09, 18, CT3]   South Boston
..       ...                                    ...            ...
410    85568                                   [24]   West Roxbury
411    91317                                  [192]         Fenway
412    91391  [39, 21, 32, 34, 35, 36, 37, 38, CT2]       Longwood
413    96459                               [30, 24]     Roslindale
414    99991                                   [38]  Jamaica Plain

[415 rows x 3 columns]

In [12]:
exploded_routes=merged_data1.explode('route_id')
exploded_routes['route_id']=exploded_routes['route_id'].astype(str)

In [13]:
route_to_neigh=exploded_routes.groupby('route_id').agg({'stop_id': list, 'neighborhood': list}).reset_index()
route_to_neigh

,route_id,stop_id,neighborhood
0,01,"[2, 59, 62, 64, 79, 93, 187, 188, 10590]","[Roxbury, South End, Roxbury, Roxbury, Fenway,..."
1,04,"[113, 114, 117, 190, 214, 224, 236, 892, 6564,...","[West End, West End, Downtown, Downtown, South..."
2,07,"[33, 879, 886, 889, 890, 892, 6564, 16535, 16538]","[South Boston Waterfront, South Boston, South ..."
3,08,"[64, 111, 121, 123, 134, 142, 899, 1518, 1563,...","[Roxbury, Dorchester, Dorchester, Dorchester, ..."
4,09,"[13, 21, 25, 33, 41, 45, 148, 150, 151, 175, 8...","[South Boston, South Boston, South Boston, Sou..."
...,...,...,...
88,CT3,"[7, 13, 128, 1784, 1799, 1805, 5089, 11802, 11...","[Roxbury, South Boston, Roxbury, Mission Hill,..."
89,SL1,"[892, 17091, 17093, 17094, 17095, 17096, 27092...","[Downtown, East Boston, East Boston, East Bost..."
90,SL2,"[30250, 31255, 74611, 74612, 74613, 74614, 746...","[South Boston Waterfront, South Boston Waterfr..."
91,SL4,"[5, 55, 64, 5095, 5098, 6538, 6565, 49002]","[South End, Roxbury, Roxbury, South End, South..."
92,SL5,"[5, 55, 64, 5095, 5098, 6565, 49001, 49002]","[South End, Roxbury, Roxbury, South End, South..."

In [14]:
route_to_neigh.to_csv('data/routes_to_neighborhoods_new.csv',index=False)

In [15]:
route_to_neigh1=exploded_routes.groupby('neighborhood').agg({'stop_id': list, 'route_id': list}).reset_index()
route_to_neigh1

,neighborhood,stop_id,route_id
0,Allston,"[922, 922, 925, 925, 926, 926, 926, 926, 931, ...","[66, 57, 57, 66, 57, 66, 193, 51, 57, 193, 57,..."
1,Back Bay,"[93, 175, 175, 175, 176, 178, 178, 178, 178, 1...","[01, 09, 10, 39, 10, 10, 55, 192, 501, 504, 39..."
2,Beacon Hill,"[10000, 10000]","[43, 192]"
3,Brighton,"[912, 912, 912, 913, 918, 918, 918, 966, 966, ...","[57, 193, 66, 57, 57, 193, 66, 57, 193, 51, 66..."
4,Charlestown,"[2821, 2835, 2844, 2844, 2850, 2855, 2855, 286...","[92, 92, 194, 93, 93, 194, 93, 194, 93, 93, 19..."
5,Chinatown,"[6565, 6565, 6565]","[11, SL4, SL5]"
6,Dorchester,"[111, 111, 121, 121, 121, 122, 123, 123, 134, ...","[08, 16, 08, 41, 16, 41, 08, 41, 08, 41, 08, 1..."
7,Downtown,"[65, 117, 117, 117, 117, 117, 117, 117, 117, 1...","[354, 191, 93, 04, 192, 193, 426, 428, 450, 92..."
8,East Boston,"[5450, 5666, 5666, 5666, 5736, 5736, 5736, 573...","[121, 112, 120, 121, 116, 117, 114, 121, 116, ..."
9,Fenway,"[79, 187, 899, 899, 899, 899, 899, 899, 899, 8...","[01, 01, 08, 57, 60, 09, 19, 193, 22, 65, 57, ..."
10,Hyde Park,"[625, 625, 625, 628, 628, 628, 2789, 2812, 281...","[34, 34E, 40, 34, 34E, 40, 50, 50, 32, 33, 24,..."
11,Jamaica Plain,"[875, 875, 875, 875, 875, 875, 875, 875, 1128,...","[16, 21, 31, 32, 42, 33, 34, 36, 39, 192, 21, ..."
12,Longwood,"[1778, 1804, 1804, 1804, 1804, 1804, 1804, 180...","[CT2, 08, 47, 60, 09, 19, 22, 65, CT2, CT3, 09..."
13,Mattapan,"[185, 185, 185, 185, 185, 507, 507, 526, 571, ...","[191, 24, 30, 245, 33, 21, 26, 21, 24, 240, 19..."
14,Mission Hill,"[1317, 1317, 1317, 1317, 1317, 1317, 1317, 131...","[39, 66, 192, 21, 32, 34, 36, 37, 66, 39, 192,..."
15,North End,[2832],[111]
16,Roslindale,"[602, 602, 602, 602, 604, 604, 604, 633, 633, ...","[35, 36, 37, 51, 34, 34E, 40, 34, 34E, 40, 30,..."
17,Roxbury,"[2, 7, 7, 8, 55, 55, 55, 62, 64, 64, 64, 64, 6...","[01, 19, CT3, 10, SL4, SL5, 191, 01, 01, 08, 1..."
18,South Boston,"[13, 13, 13, 13, 13, 13, 13, 20, 20, 21, 25, 2...","[10, 16, 17, 171, 09, 18, CT3, 10, 16, 09, 09,..."
19,South Boston Waterfront,"[33, 33, 33, 33, 33, 214, 889, 890, 11599, 170...","[09, 10, 11, 07, 16, 04, 07, 07, 04, 743, SL1,..."
20,South End,"[5, 5, 5, 59, 148, 1235, 5089, 5089, 5089, 509...","[191, SL4, SL5, 01, 09, 43, 08, 10, CT3, 191, ..."
21,West End,"[113, 114, 2829]","[04, 04, 111]"
22,West Roxbury,"[120, 609, 609, 609, 616, 616, 616, 621, 621, ...","[36, 34, 34E, 40, 34, 34E, 35, 34, 34E, 35, 36..."

In [16]:
route_to_neigh1.to_csv('data/neighborhoods_to_routes_new.csv',index=False)